<head>
  <meta charset="utf-8" />
  <!-- multi-device width -->
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta content="{{ desc }}" name="description" />
  <!-- referer for 3rd-part images-->
  <meta content="no-referrer" name="referrer" />
  <!-- title -->
  <title>
    {% if page.title %}
    {{ page.title | escape }}
    {% else %}
    {{ site.title | escape }}
    {% endif %}
  </title>
  <!-- icon -->
  <link href="{{site.url }}{{site.baseurl}}{{site.assets_path}}/img/favicon.ico?" rel="shortcut icon bookmark" type="image/x-icon" />

  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="description" content="A language empowering everyone to build reliable and efficient software.">

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@rustlang">
  <meta name="twitter:creator" content="@rustlang">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="A language empowering everyone to build reliable and efficient software.">
  <meta name="twitter:image" content="https://www.rust-lang.org/assets/images/rust-social.jpg">

  <!-- Facebook OpenGraph -->
  <meta property="og:title" content="" />
  <meta property="og:description" content="A language empowering everyone to build reliable and efficient software.">
  <meta property="og:image" content="https://www.rust-lang.org/assets/images/rust-social-wide.jpg" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />

  <!-- styles -->
  <link rel="stylesheet" href="/assets/css/solarized-dark.css"/>
  <link rel="stylesheet" href="/assets/css/vendor.css"/>
  <link rel="stylesheet" href="/assets/css/fonts.css"/>
  <link rel="stylesheet" href="/assets/css/app.css"/>

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png?v=ngJW8jGAmR">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png?v=ngJW8jGAmR">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png?v=ngJW8jGAmR">
  <link rel="manifest" href="/assets/images/site.webmanifest?v=ngJW8jGAmR">
  <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg?v=ngJW8jGAmR" color="#000000">
  <link rel="shortcut icon" href="/assets/images/favicon.ico?v=ngJW8jGAmR">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-config" content="/assets/images/browserconfig.xml?v=ngJW8jGAmR">
  <meta name="theme-color" content="#ffffff">

  
  <!-- locales -->
  <link rel="alternate" href="https://www.rust-lang.org/en-US" hreflang="en-US">
  <link rel="alternate" href="https://www.rust-lang.org/es" hreflang="es">
  <link rel="alternate" href="https://www.rust-lang.org/it" hreflang="it">
  <link rel="alternate" href="https://www.rust-lang.org/ja" hreflang="ja">
  <link rel="alternate" href="https://www.rust-lang.org/pt-BR" hreflang="pt-BR">
  <link rel="alternate" href="https://www.rust-lang.org/ru" hreflang="ru">
  <link rel="alternate" href="https://www.rust-lang.org/tr" hreflang="tr">
  <link rel="alternate" href="https://www.rust-lang.org/zh-CN" hreflang="zh-CN">
  <link rel="alternate" href="https://www.rust-lang.org/zh-TW" hreflang="zh-TW">
  <link rel="alternate" href="https://www.rust-lang.org/" hreflang="x-default">
  

  <!-- Custom Highlight pack with: Rust, Markdown, TOML, Bash, JSON, YAML,
       and plaintext. -->
  <script src="/assets/js/highlight.pack.js" defer></script>
  <script src="/assets/js/init.js" defer></script>

</head>
