<head>
  <meta charset="utf-8" />
  <!-- multi-device width -->
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta content="{{ desc }}" name="description" />
  <!-- referer for 3rd-part images-->
  <meta content="no-referrer" name="referrer" />
  <!-- title -->
  <title>
    {% if page.title %}
    {{ page.title | escape }}
    {% else %}
    {{ site.title | escape }}
    {% endif %}
  </title>

  <!-- icon -->
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img//favicon-16x16.png">

  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="description" content="A language empowering everyone to build reliable and efficient software.">

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@rustlang">
  <meta name="twitter:creator" content="@rustlang">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="A language empowering everyone to build reliable and efficient software.">
  <meta name="twitter:image" content="https://www.rust-lang.org/assets/images/rust-social.jpg">

  <!-- Facebook OpenGraph -->
  <meta property="og:title" content="" />
  <meta property="og:description" content="A language empowering everyone to build reliable and efficient software.">
  <meta property="og:image" content="https://www.perl.org/assets/images/rust-social-wide.jpg" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />

  <!-- styles -->
  <link rel="stylesheet" href="/assets/css/solarized-dark.css"/>
  <link rel="stylesheet" href="/assets/css/vendor.css"/>
  <link rel="stylesheet" href="/assets/css/fonts.css"/>
  <link rel="stylesheet" href="/assets/css/app.css"/>
  <link rel="stylesheet" href="/assets/css/comments.css"/>

  <!-- favicon -->
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-config" content="/assets/images/browserconfig.xml?v=ngJW8jGAmR">
  <meta name="theme-color" content="#ffffff">

  
  <!-- Custom Highlight pack with: Markdown, TOML, Bash, JSON, YAML, and plaintext. -->
  <script src="/assets/js/highlight.pack.js" defer></script>
  <script src="/assets/js/init.js" defer></script>
</head>
