<!-- list of articles: sort by date (by default) -->

<section id="posts" class="green">
   <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">

    <table class="post-list collapse w-100 f2-l f2-m f3-s">

      <tr>
        <td class="bn"></td>
        <td class="bn"><h3 class="f0-l f1-m f2-s mt4 mb0">Posts from The Perl Foundation</h3></td>
      </tr>
      {% for post in site.posts %}
      <tr>
	<td class="bn">{{ post.date | date: '%Y-%m-%d' }}</td>
        <td class="bn"><a href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a></td>
      </tr>
      {% endfor %}

    </table>

  </div>
</section>

