name : raylib-cpanm

on:
  schedule:
    - cron: 0 12 * * *
  push:

jobs:
  perl:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: perl -V
        run: perl -V
      - name: Update
        run: sudo apt-get update
      - name: Install non alienazed dependencies
        run: sudo apt-get install xorg-dev libglu1-mesa-dev libvulkan-dev
      - name: Install alien
        run: curl -L https://cpanmin.us | perl - --configure-timeout=1920 Alien::raylib
